<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body mt-3 p-md-5 mx-md-4">

                <form (ngSubmit)="mergeUtente()" [formGroup]="FormUtente">
                  <p>Compila il modulo per aggiungere un nuovo utente</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="Inserisci nome">
                    <label class="form-label" for="nome">Nome</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="cognome" class="form-control" formControlName="cognome" placeholder="Inserisci il cognome">
                    <label class="form-label" for="cognome">Cognome</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="username" class="form-control" formControlName="username" placeholder="Inserisci email">
                    <label class="form-label" for="username">Username</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" formControlName="password" placeholder="Inserisci la password">
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" [ngClass]="utenteDaModificare ? 'btn-warning' : 'btn-primary'" [disabled]="FormUtente.invalid">
                      {{utenteDaModificare ? 'Modifica Utente' : 'Aggiungi Utente'}}
                    </button>
                  </div>
                </form>

                <div class="d-flex align-items-center justify-content-center pb-4">
                  <p class="mb-0 me-2">You have an account?</p>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger" routerLink="/login">Login</button>
                </div>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="../../../assets/logo.png" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Aggiungi Utente</h4>
                </div>
                <p class="small mb-0">
                  Compila il modulo per aggiungere un nuovo utente al sistema. Assicurati di inserire tutte le informazioni richieste.
                  Indicazioni:
                  -Username: Inserisci la tua mail da utilizzare come Username;
                </p>
              </div>
              <div class="position-absolute top-0 end-0 m-3">
                <button routerLink="/home" class="btn btn-link">
                  <i class="bi bi-house" style="font-size: 1.5rem; color: white;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

